USE [master]
GO
/****** Object:  Database [PaymentDb]    Script Date: 19/12/2025 18:01:50 ******/
CREATE DATABASE [PaymentDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PaymentDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PaymentDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PaymentDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PaymentDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PaymentDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PaymentDb]
GO
/****** Object:  User [local_sa]    Script Date: 19/12/2025 18:01:51 ******/
CREATE USER [local_sa] FOR LOGIN [local_sa] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_datareader] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [local_sa]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [local_sa]
GO
/****** Object:  Table [dbo].[Gateway_pagamento]    Script Date: 19/12/2025 18:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gateway_pagamento](
	[id_gateway_pagamento] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](100) NOT NULL,
 CONSTRAINT [PK_GatewayPagamento] PRIMARY KEY CLUSTERED 
(
	[id_gateway_pagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagamento]    Script Date: 19/12/2025 18:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagamento](
	[id_pagamento] [int] IDENTITY(1,1) NOT NULL,
	[id_gateway_pagamento] [int] NOT NULL,
	[valor] [decimal](10, 2) NOT NULL,
	[id_status_pagamento] [int] NOT NULL,
	[data_hora_pago] [datetime] NULL,
 CONSTRAINT [PK_Pagamento] PRIMARY KEY CLUSTERED 
(
	[id_pagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificacao_webhook]    Script Date: 03/08/2025 21:44:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacao_webhook](
	[id_notificacao_webhook] [int] IDENTITY(1,1) NOT NULL,
	[data_hora] [datetime] NOT NULL,
	[origem] [varchar](50) NOT NULL,
	[identificador] [int] NOT NULL,
	[dado_recebido] [varchar](8000) NOT NULL,
 CONSTRAINT [PK_Notificacao_webhook] PRIMARY KEY CLUSTERED 
(
	[id_notificacao_webhook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_pagamento]    Script Date: 19/12/2025 18:01:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_pagamento](
	[id_status_pagamento] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Status_pagamento] PRIMARY KEY CLUSTERED 
(
	[id_status_pagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pagamento]  WITH CHECK ADD  CONSTRAINT [FK_Pagamento_GatewayPagamento] FOREIGN KEY([id_gateway_pagamento])
REFERENCES [dbo].[Gateway_pagamento] ([id_gateway_pagamento])
GO
ALTER TABLE [dbo].[Pagamento] CHECK CONSTRAINT [FK_Pagamento_GatewayPagamento]
GO
ALTER TABLE [dbo].[Pagamento]  WITH CHECK ADD  CONSTRAINT [FK_Pagamento_Status_pagamento] FOREIGN KEY([id_status_pagamento])
REFERENCES [dbo].[Status_pagamento] ([id_status_pagamento])
GO
ALTER TABLE [dbo].[Pagamento] CHECK CONSTRAINT [FK_Pagamento_Status_pagamento]
GO
USE [master]
GO
USE [PaymentDb]
GO
SET IDENTITY_INSERT [dbo].[Gateway_pagamento] ON 

INSERT [dbo].[Gateway_pagamento] ([id_gateway_pagamento], [nome]) VALUES (1, N'Mercado Pago')
SET IDENTITY_INSERT [dbo].[Gateway_pagamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Status_pagamento] ON 

INSERT [dbo].[Status_pagamento] ([id_status_pagamento], [status]) VALUES (1, N'Pendente')
INSERT [dbo].[Status_pagamento] ([id_status_pagamento], [status]) VALUES (2, N'Negado')
INSERT [dbo].[Status_pagamento] ([id_status_pagamento], [status]) VALUES (3, N'Aprovado')
SET IDENTITY_INSERT [dbo].[Status_pagamento] OFF
GO
